main {
	display: block;
}

nav {
	float: left;
	width: 75%;
	height: 500px;
}

section {
	padding: 10px;
}

aside {
	float: right;
	width: 25%;
	height: 400px;
}

#landing{
	height: 300px;	
}

#qbankform,#questionform{
	height: 75%;
}

#topicform{
	height: 55%;
}